//- 实现一个继承的关系
extends ./layouts/default

block title 
   title Koa DouBan 首页

block content
    include ./include/header
    
    .container-fluid 
      .sidebar 
      .content
.row 
    .col-md-6 
        .card 
            img.card-img-top(src="http://o9spjqu1b.bkt.clouddn.com/5570778b-f7fc-4bcf-9df3-e47a6954b75a" data-video='http://video.iblack7.com/tgGnZRn3W4Ajw6PGcA_9Z.mp4')
            .card-body 
                h4.card-title 这是标题
                p.card-desc 相关描述
            .card-footer
                small.text-muted 一天前更新
    .col-md-6
        .card 
            img.card-img-top(src="http://o9spjqu1b.bkt.clouddn.com/5570778b-f7fc-4bcf-9df3-e47a6954b75a" data-video='http://video.iblack7.com/tgGnZRn3W4Ajw6PGcA_9Z.mp4')
            .card-body 
                h4.card-title 这是标题
                p.card-desc 相关描述
            .card-footer
                small.text-muted 一天前更新 
.row 
    .col-md-6 
        .card 
            img.card-img-top(src="http://o9spjqu1b.bkt.clouddn.com/5570778b-f7fc-4bcf-9df3-e47a6954b75a" data-video='http://video.iblack7.com/tgGnZRn3W4Ajw6PGcA_9Z.mp4')
            .card-body 
                h4.card-title 这是标题
                p.card-desc 相关描述
            .card-footer
                small.text-muted 一天前更新
    .col-md-6
        .card 
            img.card-img-top(src="http://o9spjqu1b.bkt.clouddn.com/5570778b-f7fc-4bcf-9df3-e47a6954b75a" data-video='http://video.iblack7.com/tgGnZRn3W4Ajw6PGcA_9Z.mp4')
            .card-body 
                h4.card-title 这是标题
                p.card-desc 相关描述
            .card-footer
                small.text-muted 一天前更新 